<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}" th:with="module='Profile Details'">
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
</head>
<body>

	<div class="col-md-6" layout:fragment="breadcrumb">
		<ul class="breadcrumb">
			<li><a th:href="@{/}"><i class="fa fa-home"></i> Home</a></li>
			<li><a th:href="@{/profiles}"><i class="fa fa-users"></i> Profiles</a></li>
			<li class="active"><i class="fa fa-user"></i>Profile</li>
		</ul>
	</div>

	<div class="row row-cards-pf" layout:fragment="content">

			<div class="col-md-12">

				<p></p>

                    <form class="form-horizontal"  method="POST" th:object="${profile}" th:action="@{/profiles}">
					<div hidden="hidden">
							<ul id="fieldErrors" th:if="${#fields.hasErrors('*')}">
								<li th:each="e : ${#fields.detailedErrors()}" th:text="${e.global}? '*' : ${e.fieldName}"></li>
							</ul>
						</div>
						<div hidden="hidden">
							<ul id="fieldMessages" th:if="${#fields.hasErrors('*')}" >
								<li th:each="e : ${#fields.detailedErrors()}" th:attr="field=${e.fieldName}" th:text="${e.message}"></li>
							</ul>
						</div>
                        <div class="form-group ">

                           <div class="form-group">
									<label for="name" class="col-sm-2 control-label" style="text-align: left">Name</label>
									<div class="col-sm-10">
										<input type="text" th:field="*{name}" class="form-control" id="name">
									</div>
							</div>
                             <div class="form-group">
									<label for="email" class="col-sm-2 control-label" style="text-align: left">Email</label>
									<div class="col-sm-10">
										<input type="text" th:field="*{email}" class="form-control" id="email">
									</div>
							</div>
							
							<div class="form-group">
									<div class="col-sm-5">
									<label for="left-selector" class="control-label" style="text-align: left">Available Permissions</label>
										<select multiple="multiple" class="form-control left-selector" id="left-selector">
											<option th:each="permission : ${permissions}" th:value="${permission.id}" th:text="${permission.description}"></option>
										</select>
									</div>
									<div class="col-sm-2" style="vertical-align:middle;">
										
										<button class="btn btn-default right-btn"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
										<button class="btn btn-default pull-right left-btn"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></button>
									</div>
									
									<div class="col-sm-5">
									<label for="right-selector" class="control-label" style="text-align:left" >Assigned Permissions</label>
										<select multiple="multiple" th:field="*{permissions}" class="form-control right-selector" id="right-selector">
											<option th:each="permission : *{permissions}" th:value="${permission.id}" th:text="${permission.description}"></option>
										</select>
										</div>
							</div>
<input  th:hidden="hidden" th:field="*{version}"/>
									<input  th:hidden="hidden" th:field="*{id}"/>
								<button type="submit" class="btn btn-success btn-labeled pull-right">
									Submit<span class="btn-label btn-label-right"><i class="fa fa-check"></i></span>
								</button>
							</div>

							<div class="form-group col-sm-2"></div>

						</form>
			</div>

		<!-- /.row -->

	</div>
</body>
<th:block layout:fragment="scripts">
<script th:inline="javascript">
		/*<![CDATA[*/
$(document).ready(function() {
	$('.left-btn').click(
			function() {
				return !$('.right-selector option:selected').remove().appendTo('.left-selector');
			});
	$('.right-btn').click(
			function() {
				return !$('.left-selector option:selected').remove().appendTo('.right-selector');
			});
});
$("form").submit(function(e) {
	$('.right-selector option').prop("selected", true);	
});


	</script>
</th:block>
</html>